/* ---------------------------------- */
/* COLOR SCHEME */
/* ---------------------------------- */

$color_green: #b6cab2;
$color_blue: #b2d3ec;
$color_red: #f19d99;
$color_yellow: #f7d99e;
$color_brown: #36211f;
$color-background: #f0ede5;

$bp-largest: 75em; //1200px
$bp-large: 68.5em; //1100px
$bp-medium: 56.25em; //900px
$bp-search: 48em; //638px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
